/*===========================================
   Variables
===========================================*/
/*===========================================
   Functions
===========================================*/
/*===========================================
   Mixins
===========================================*/
/*===========================================
   Keyframes
===========================================*/
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-40px); }
  60% {
    transform: translateY(-10px); } }
@keyframes slide-in-top-mobile {
  0% {
    top: -400px;
    opacity: 0; }
  60% {
    top: -25px;
    opacity: 1; }
  100% {
    top: -35px;
    opacity: 1; } }
@keyframes slide-in-top-desktop {
  0% {
    top: -400px;
    opacity: 0; }
  60% {
    top: 185px;
    opacity: 1; }
  100% {
    top: 175px;
    opacity: 1; } }
@keyframes slide-in-mobile {
  0% {
    left: -100%;
    opacity: 0; }
  60% {
    left: calc(50% - 80px);
    opacity: 1; }
  100% {
    left: calc(50% - 90px);
    opacity: 1; } }
@keyframes slide-in-desktop {
  0% {
    left: -100%;
    opacity: 0; }
  60% {
    left: calc(50% - 300px);
    opacity: 1; }
  100% {
    left: calc(50% - 320px);
    opacity: 1; } }
@keyframes blowUpContent {
  0% {
    transform: scale(1);
    opacity: 1; }
  99.9% {
    transform: scale(2);
    opacity: 0; }
  100% {
    transform: scale(0); } }
@keyframes blowUpContentTwo {
  0% {
    transform: scale(2);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }
@keyframes blowUpModal {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@keyframes blowUpModalTwo {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0);
    opacity: 0; } }
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/*===========================================
  Base Styles
===========================================*/
base {
  margin: 0;
  padding: 0; }

/*===========================================
  Modal Styles
===========================================*/
#modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); }

#modalFrame {
  margin: 50px auto;
  width: 85%;
  position: relative; }

.modal-layout {
  width: 100%; }

#modalInner {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr); }
  @media (min-width: 769px) {
    #modalInner {
      margin-top: 0;
      grid-template-columns: 1fr 1fr 1.25fr 1.25fr;
      grid-template-rows: repeat(6, 1fr); } }
  @media (min-width: 1024px) {
    #modalInner {
      width: 80%; } }
  @media (min-width: 1400px) {
    #modalInner {
      width: 70%;
      margin: 0 auto; } }

.modal-image {
  display: none; }
  @media (min-width: 769px) {
    .modal-image {
      display: grid;
      grid-area: 1 / 1 / 7 / 3; } }

.info-text {
  width: 80%; }

.modal-info {
  display: grid;
  grid-area: 1 / 1 / 6 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #151db7;
  color: white; }
  @media (min-width: 769px) {
    .modal-info {
      grid-area: 1 / 3 / 6 / 5; } }
  .modal-info h2 {
    font-size: 1.75em; }
    @media (min-width: 1024px) {
      .modal-info h2 {
        font-size: 2.5em; } }
    @media (min-width: 1400px) {
      .modal-info h2 {
        font-size: 3em; } }
  .modal-info p {
    line-height: 1.5; }

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center; }

.code-button,
.demo-button {
  cursor: pointer;
  border: none; }

.demo-button {
  background-color: #1ff74e;
  grid-area: 6 / 1 / 7 / 2; }
  @media (min-width: 769px) {
    .demo-button {
      grid-area: 6 / 3 / 7 / 4; } }

.code-button {
  background-color: #1dfffe;
  grid-area: 6 / 2 / 7 / 3; }
  @media (min-width: 769px) {
    .code-button {
      grid-area: 6 / 4 / 7 / 5; } }

.modal-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center; }
  .modal-button p {
    text-decoration: none; }

.demo-button a,
.code-button a {
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase; }

.demosvg,
.codesvg {
  height: 30px;
  width: 30px;
  padding-right: 10px; }

#close,
#scrollLeft,
#scrollRight {
  position: absolute; }

#close {
  right: -5.5%;
  top: -5.5%; }
  @media (min-width: 1400px) {
    #close {
      right: -6.5%; } }

#scrollLeft {
  left: -30px;
  top: 50%; }
  @media (min-width: 769px) {
    #scrollLeft {
      left: -50px; } }
  @media (min-width: 1400px) {
    #scrollLeft {
      left: 10%; } }

#scrollRight {
  right: -30px;
  top: 50%; }
  @media (min-width: 769px) {
    #scrollRight {
      right: -50px; } }
  @media (min-width: 1400px) {
    #scrollRight {
      right: 10%; } }

#left-arrow,
#right-arrow,
#close-button {
  cursor: pointer;
  height: 30px;
  width: 30px; }

/*===========================================
  Header Styles
===========================================*/
/*===========================================
  Typography Styles
===========================================*/
* {
  font-family: "Montserrat", sans-serif; }

/*===========================================
  Navigation Styles
===========================================*/
@media (min-width: 769px) {
  .hidden-svg {
    display: none; } }

@media (min-width: 769px) {
  .mobile-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: transparent; } }

.header-bluelogo {
  display: none;
  cursor: pointer; }
  .header-bluelogo svg {
    height: 100px;
    width: 100px; }
  @media (min-width: 769px) {
    .header-bluelogo {
      display: block;
      margin-right: auto;
      z-index: 2;
      padding: 30px 0 0 30px; } }

#whitelogo-logo path {
  stroke-width: "2"; }

.header-whitelogo {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 4;
  height: 62px;
  width: 62px;
  margin: 25px 0 0 -31px; }
  @media (min-width: 769px) {
    .header-whitelogo {
      display: none;
      z-index: 1; } }

#burger {
  display: none; }

.green {
  color: #1ff74e; }

.nav-background {
  background: #151db7;
  padding-bottom: 10px; }
  @media (min-width: 769px) {
    .nav-background {
      background: none;
      padding-right: 20px; } }

.nav-list {
  list-style-type: none;
  text-decoration: none;
  padding: 0; }

#burger + label {
  position: fixed;
  top: 20px;
  right: 30px;
  height: 28px;
  width: 36px;
  z-index: 5; }
  @media (min-width: 769px) {
    #burger + label {
      display: none;
      z-index: 0; } }
  #burger + label span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #1ff74e;
    transition: .5s; }
  #burger + label span:first-child {
    top: 3px; }
  #burger + label span:last-child {
    top: 26px; }

label:hover {
  cursor: pointer; }

input:checked + label span {
  opacity: 0;
  top: 50%; }
input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(135deg) translateY(-16px); }
input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-135deg) translateY(16px); }

input ~ nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 3;
  transition: .5s;
  transition-delay: .5s;
  overflow: hidden; }
  @media (min-width: 769px) {
    input ~ nav {
      display: block;
      position: static;
      height: auto;
      width: auto;
      z-index: 2; } }
  input ~ nav > ul {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 20%;
    right: 20%; }
    @media (min-width: 769px) {
      input ~ nav > ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: static; } }
    input ~ nav > ul > li {
      opacity: 0;
      transition: .5s;
      transition-delay: 0s; }
      @media (min-width: 769px) {
        input ~ nav > ul > li {
          opacity: 1; } }
      input ~ nav > ul > li > a {
        text-decoration: none;
        text-transform: uppercase;
        color: #1ff74e;
        font-weight: 700;
        font-size: 1.5em;
        display: block;
        padding: 30px; }
        @media (min-width: 769px) {
          input ~ nav > ul > li > a {
            font-size: 12px;
            padding: 22.5px; } }

input:checked ~ nav {
  height: 100%;
  transition-delay: 0s; }
  input:checked ~ nav > ul > li {
    opacity: 1;
    transition-delay: .5s; }

/*===========================================
  Hero Styles
===========================================*/
@media (min-width: 769px) {
  .home {
    margin-top: -18px; } }

.hero-page {
  background: #000;
  height: 100vh;
  margin-top: 120px; }
  @media (min-width: 769px) {
    .hero-page {
      margin-top: 0;
      position: relative; } }

.hello {
  color: white;
  z-index: 1;
  margin: 70px auto;
  position: relative; }
  @media (min-width: 769px) {
    .hello {
      background: none;
      margin-top: 0; } }

.hero-picture {
  background: #151db7;
  margin-top: -130px; }
  @media (min-width: 769px) {
    .hero-picture {
      position: static;
      margin-top: -134px;
      background: none; } }

.bluebox {
  height: 115px;
  width: 100%;
  background: #151db7;
  margin-top: 60px; }
  @media (min-width: 769px) {
    .bluebox {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 0;
      width: 50%;
      height: 100vh; } }

.boxesup {
  position: relative;
  height: 75px;
  left: calc(50% + 40px);
  opacity: 0;
  animation: slide-in-top-mobile 1s forwards ease-in-out;
  animation-delay: 1.5s; }
  @media (min-width: 769px) {
    .boxesup {
      height: 200px;
      left: calc(50% + 100px);
      animation: slide-in-top-desktop 1s forwards ease-in-out;
      animation-delay: 1.5s; } }

.hello h1 {
  position: absolute;
  margin: 0;
  text-align: center;
  font-weight: 900;
  font-size: 5em;
  animation: slide-in-mobile 2s forwards ease-in-out; }
  @media (min-width: 769px) {
    .hello h1 {
      font-size: 16.875em;
      animation: slide-in-desktop 2s forwards ease-in-out; } }

.hello h1:first-of-type {
  top: -35px; }
  @media (min-width: 769px) {
    .hello h1:first-of-type {
      top: 150px; } }

.hello h1:nth-of-type(2) {
  top: 33px;
  animation-delay: .1s; }
  @media (min-width: 769px) {
    .hello h1:nth-of-type(2) {
      top: 360px; } }

.hero-page {
  background-image: url("../assets/headerimage.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: left bottom;
  background-repeat: no-repeat; }
  @media (min-width: 769px) {
    .hero-page {
      background-size: cover; } }

#down-arrow {
  height: 30px;
  width: 30px;
  position: absolute;
  padding: 10px;
  bottom: 30px;
  left: calc(50% - 15px); }
  #down-arrow svg {
    overflow: visible; }
  @media (min-width: 769px) {
    #down-arrow {
      left: calc(50% - 25px);
      bottom: 60px; } }

@media (min-width: 769px) {
  .bottom-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; } }

.top-arrow,
.bottom-arrow {
  animation: bounce 2s infinite; }

.top-arrow {
  animation-delay: .1s; }

/*===========================================
  About Styles
===========================================*/
#below-fold {
  background: #151db7;
  padding-top: 110px;
  position: relative; }

.greenrectangle {
  height: 300px;
  position: absolute;
  top: 150px;
  right: 22%; }
  @media (min-width: 769px) {
    .greenrectangle {
      position: absolute;
      height: 500px;
      top: 0;
      left: calc(50% - 225px); } }

.johnportrait {
  height: 300px;
  position: absolute;
  top: 180px;
  left: 22%; }
  @media (min-width: 769px) {
    .johnportrait {
      position: absolute;
      height: 500px;
      top: 50px;
      right: 50%; } }

.boxes-down {
  position: absolute;
  height: 120px;
  z-index: 2;
  top: 430px;
  left: 35%; }

.about-text {
  padding-top: 430px;
  padding-bottom: 20px;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  overflow: auto;
  line-height: 1.5; }

.about-text h1 {
  font-size: 3.75em; }

.about-text h3 {
  color: #1ff74e;
  text-transform: uppercase; }

/*===========================================
  Footer Styles
===========================================*/
footer {
  background: #151db7;
  padding: 40px 0;
  margin-top: -5px; }

.socials {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media (min-width: 769px) {
    .socials {
      width: 300px; } }

.social-svg {
  height: 40px; }

/*===========================================
  Work Styles
===========================================*/
.grid-container {
  display: grid;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr); }
  @media (min-width: 769px) {
    .grid-container {
      margin-top: 0;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(17, 1fr); } }

.item-1 {
  background: #1dfffe;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center; }
  @media (min-width: 769px) {
    .item-1 {
      grid-area: 1 / 1 / 9 / 4; } }

.item-2 {
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center; }
  @media (min-width: 769px) {
    .item-2 {
      grid-area: 1 / 4 / 6 / 6; } }

.item-3 {
  background: #151db7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center; }
  @media (min-width: 769px) {
    .item-3 {
      grid-area: 9 / 1 / 18 / 4; } }

.dashboard-image {
  width: 70%; }

.tickets-svg {
  width: 90%;
  height: 90%; }
  @media (min-width: 769px) {
    .tickets-svg {
      width: 450px;
      height: 350px; } }

.item-4 {
  background-image: url("../assets/directory.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center; }
  @media (min-width: 769px) {
    .item-4 {
      grid-area: 6 / 4 / 13 / 6; } }

.item-5 {
  background-image: url("../assets/wheel.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center; }
  @media (min-width: 769px) {
    .item-5 {
      grid-area: 13 / 4 / 18 / 6; } }

.circles {
  overflow: visible;
  width: 11.106875em;
  height: 15.9961875em; }

/*===========================================
    Contact Modal Styles
===========================================*/
.introduction {
  display: none; }

/*# sourceMappingURL=styles.css.map */
