/*===========================================
   Keyframes
===========================================*/

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-40px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@keyframes slide-in-out-top-mobile {
  0% {
    top: 0;
    opacity: 0;
  }

  20% {
    top: 195px;
    opacity: 1;
  }

  25% {
    top: 185px;
    opacity: 1;
  }

  70% {
    top: 185px;
    opacity: 1;
  }

  95% {
    // top: 100px;
    opacity: 1;
  }

  100% {
    top: 0;
    opacity: 0;
  }
}

@keyframes slide-in-out-top-desktop {
  0% {
    top: 0;
    opacity: 0;
  }

  20% {
    top: 185px;
    opacity: 1;
  }

  25% {
    top: 175px;
    opacity: 1;
  }

  70% {
    top: 175px;
    opacity: 1;
  }

  85% {
    top: 175px;
    opacity: 1;
  }

  100% {
    top: 0;
    opacity: 0;
  }
}

@keyframes slide-in-out-mobile {
  0% {
    left: 0;
    opacity: 0;
  }
  20% {
    left: calc(50% - 80px);
    opacity: 1;
  }
  25% {
    left: calc(50% - 90px);
    opacity: 1;
  }

  70% {
    left: calc(50% - 90px);
    opacity: 1;
  }

  80% {
    left: calc(50% - 90px);
    opacity: 1;
  }

  100% {
    left: 0;
    opacity: 0;
  }

}

@keyframes slide-in-out-desktop {
  0% {
    left: 0;
    opacity: 0;
  }
  20% {
    left: calc(50% - 300px);
    opacity: 1;
  }
  25% {
    left: calc(50% - 320px);
    opacity: 1;
  }
  70% {
    left: calc(50% - 320px);
    opacity: 1;
  }
  80% {
    left: calc(50% - 320px);
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 0;
  }
}

@keyframes slide-down-mobile {
  0% {
    top: 120px;
    opacity: 0;
  }
  100% {
    top: 160px;
    opacity: 1;
  }
}

@keyframes slide-down-tablet {
  0% {
    top: 220px;
    opacity: 0;
  }
  100% {
    top: 250px;
    opacity: 1;
  }
}

@keyframes slide-down-desktop {
  0% {
    top: 220px;
    opacity: 0;
  }
  100% {
    top: 260px;
    opacity: 1;
  }
}

@keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in;}
    15% { opacity: 1;}
    80% { opacity: 1;}
    100% { opacity: 0; }
}

@keyframes rotateWordsLast {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes dropIn {
  0% {
    transform: translateY(-20%);
    opacity: 0
  }
  100% {
    transform: translateY(0%);
    opacity: 1
  }
}


@keyframes blowUpContent {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  99.9% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(0);
  }
}
@keyframes blowUpContentTwo {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes blowUpModalTwo {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
