/*===========================================
   Mixins
===========================================*/

// Media Queries

@mixin mq($break) {
  @if $break == "small" {
    @media(min-width: $brkpoint-sm) {
      @content;
    }
  }
  @else if $break == "medium" {
    @media(min-width: $brkpoint-md + 1) {
      @content;
    }
  }
  @else if $break == "large" {
    @media(min-width: $brkpoint-lg) {
      @content;
    }
  }
  @else if $break == "xlarge" {
    @media(min-width: $brkpoint-xlg) {
      @content;
    }
  }
  @else {
    @error "'#{$break}' is not a valid entry."
  }
};

// Flexbox Basics

@mixin flexycolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@mixin flexyrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
