/*===========================================
   Variables
===========================================*/

// Colors
$black: #000;
$white: #fff;
$gallery: #f0f0f0;
$shamrock: #45e271;
$malachite: #1ff74e;
$persianBlue: #151db7;
$cyan: #1dfffe;

// Font Weights

$font-weight--light  : 300;
$font-weight--regular : 400;
$font-weight--medium: 500;
$font-weight--semibold  : 600;
$font-weight--bold : 700;
$font-weight--black : 900;

// Breakpoints

$brkpoint-sm:  1px;
$brkpoint-md:  768px;
$brkpoint-lg:  1024px;
$brkpoint-xlg: 1400px;

// Typography
$font-stack-primary: 'Montserrat', sans-serif;
$base-font-size: 16px;

// Margin centered
$margin-center: 0 auto;
