/*===========================================
  About Styles
===========================================*/

#below-fold {
  background: $persianBlue;
  padding-top: 110px;

  @include mq(medium) {
    padding-top: 80px;
  }
}

.portrait-frame {
  width: 280px;
  margin: 0 auto;
  padding-left: 25px;
  position: relative;

  @include mq(medium) {
    width: 40%;
    padding: 80px 80px;
  }
}

.about-container {
  @include mq(medium) {
    @include flexyrow;
    padding-bottom: 80px;
  }
}

.greenrectangle {
  height: 351px;
  position: absolute;
  z-index: 1;
  top: -27px;
  left: 6px;

  @include mq(medium) {
    height: 315px;
  }
}

.johnportrait {
  width: 100%;
  z-index: 2;
  position: relative;

  @include mq(medium) {
  }
}

.boxes-down {
  position: absolute;
  height: 120px;
  z-index: 2;
  bottom: -60px;
  left: 50%;

  @include mq(medium) {

  }
}

.about-text {
  padding-top: 30px;
  padding-bottom: 20px;
  width: 80%;
  margin: 0 auto;
  color: $white;
  overflow: auto;
  line-height: 1.5;

  @include mq(medium) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.about-text h1 {
  font-size: em(60px);
}

.about-text h3 {
  color: $malachite;
  text-transform: uppercase;
}
