/*===========================================
  Hero Styles
===========================================*/
.home {
  @include mq(medium) {
    margin-top: -18px;
  }
}

.hero-page {
  background: $black;
  height: 100vh;
  margin-top: 120px;
  position: relative;
  @include mq(medium) {
    margin-top: 0;
  }
}

.hello {
  color: white;
  z-index: 1;
  margin: 70px auto;


  @include mq(medium) {
    background: none;
    margin-top: 0;

  }
}

.hero-picture {
  background: $persianBlue;
  margin-top: -130px;

  @include mq(medium) {
    position: static;
    margin-top: -205px;
    background: none;
  }
}

.bluebox {
  height: 232px;
  width: 100%;
  background: $persianBlue;
  margin-top: 0px;

  @include mq(medium) {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    width: 50%;
    height: 100vh;
  }
}

.boxesup {
  position: absolute;
  height: 75px;
  left: calc(50% + 40px);
  opacity: 0;
  animation: slide-in-out-top-mobile 3s forwards ease-in-out;
  animation-delay: .5s;

  @include mq(medium) {
    height: 200px;
    left: calc(50% + 100px);
    animation: slide-in-out-top-desktop 3s forwards ease-in-out;
    animation-delay: .5s;
  }
}

.hello h1 {
  position: absolute;
  margin: 0;
  text-align: center;
  font-weight: $font-weight--black;
  font-size: em(80px);
  animation: slide-in-out-mobile 4s forwards ease-in-out;

  @include mq(medium) {
    font-size: em(270px);
    animation: slide-in-out-desktop 4s forwards ease-in-out;
  }
}

.hello h1:first-of-type {
  top: 185px;

  @include mq(medium) {
    top: 150px;
  }
}

.hello h1:nth-of-type(2) {
  top: 255px;
  animation-delay: .1s;

  @include mq(medium) {
    top: 360px;
  }
}

.introduction h1 {
  position: absolute;
  opacity: 0;
  margin: 0;
  text-align: center;
  color: $white;
  font-family: $font-stack-primary;
  font-weight: $font-weight--black;
  font-size: em(80px);
  animation: slide-down-mobile 1s forwards ease-in-out;
  animation-delay: 4s;
  left: calc(50% - 172px);
  top: 180px;

  @include mq(small) {
    animation: slide-down-tablet 1s forwards ease-in-out;
    left: calc(50% - 197px);
    animation-delay: 4s;
  }

  @include mq(medium) {
    font-size: em(138px);
    animation: slide-down-tablet 1s forwards ease-in-out;
    animation-delay: 4s;
    left: calc(50% - 355px);
  }

  @include mq(large) {
    font-size: em(190px);
    animation: slide-down-desktop 1s forwards ease-in-out;
    animation-delay: 4s;
    left: calc(50% - 469px);

  }
}

.hero-page {
  background-image: url("../assets/headerimage.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: left bottom;
  background-repeat: no-repeat;

  @include mq(medium) {
    background-size: cover;
  }
}

#down-arrow {
  height: 30px;
  width: 30px;
  position: absolute;
  padding: 10px;
  bottom: 30px;
  left: calc(50% - 15px);

  svg {
    overflow: visible;
  }
  @include mq(medium) {
    left: calc(50% - 25px);
    bottom: 60px;
  }
}

.bottom-nav {
  @include mq(medium) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.top-arrow,
.bottom-arrow {
  animation: bounce 2s infinite;
}

.top-arrow {
  animation-delay: .1s;
}

.sentences {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.rotating-words {
  letter-spacing: .003em;
}

.rotating-words span {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  font-size: em(20px);
  font-weight: $font-weight--medium;
  text-transform: uppercase;
  width: 100%;
  height: 120px;
  top: 120px;
  left: 0;
  color: white;
  @include mq(medium) {
    top: 460px;
    font-size: em(32px);
  }

  @include mq(large) {
    font-size: em(38px);
  }

  @include mq(xlarge) {
    font-size: em(48px);
    top: 470px;
  }
}

.rotating-words span:not(:last-child){
	animation: rotateWordsFirst .7s linear 0s;
  animation-delay: 6s;
}

.rotating-words span:last-child{
	animation: rotateWordsLast 1s forwards 0s;
}

.rotating-words span:nth-child(1) {
  animation-delay: 6s;
}

.rotating-words span:nth-child(2) {
	animation-delay: 7.5s;
}
.rotating-words span:nth-child(3) {
	animation-delay: 8.8s;
}
.rotating-words span:nth-child(4) {
	animation-delay: 9.8s;
}
.rotating-words span:nth-child(5) {
	animation-delay: 10.6s;
}
.rotating-words span:nth-child(6) {
	animation-delay: 11.4s;
}
.rotating-words span:nth-child(7) {
	animation-delay: 12.2s;
}
.rotating-words span:nth-child(8) {
	animation-delay: 13s;
}
.rotating-words span:nth-child(9) {
	animation-delay: 13.9s;
}
.rotating-words span:nth-child(10) {
	animation-delay: 14.9s;
}
.rotating-words span:nth-child(11) {
	animation-delay: 16.1s;
}
.rotating-words span:nth-child(12) {
	animation-delay: 17.5s;
}
