/*===========================================
  Modal Styles
===========================================*/

#modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8)
}

#modalFrame {
  margin: 50px auto;
  width: 85%;
}

.modal-layout {
  width: 100%;

  @include mq(large) {

  }

  @include mq(xlarge) {
  }
}

.modal-inner {
  width: 90%;
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);

  @include mq(medium) {
    margin-top: 0;
    grid-template-columns: 1fr 1fr 1.25fr 1.25fr;
    grid-template-rows: repeat(6, 1fr);
  }

  @include mq(large) {
    width: 80%;
  }

  @include mq(xlarge) {
    width: 60%;
    margin: 0 auto;
  }

}

.modal-image {
  display: none;

  @include mq(medium) {
    display: grid;
    grid-area: 1 / 1 / 7 / 3;
  }
}

.info-text {
  width: 80%;
}

.modal-info {
  display: grid;
  grid-area: 1 / 1 / 6 / 3;
  @include flexycolumn;
  background: $persianBlue;
  color: white;

  @include mq(medium) {
    grid-area: 1 / 3 / 6 / 5;
  }

  h2 {
    font-size: em(28px);

    @include mq(medium) {
      font-size: em(50px);
    }
  }

  p {
    line-height: 1.5;
  }
}

.buttons {
  @include flexyrow;
}

.code-button,
.demo-button {
  cursor: pointer;
  border: none;
}

.demo-button {
  background-color: $malachite;
  grid-area: 6 / 1 / 7 / 2;

  @include mq(medium) {
    grid-area: 6 / 3 / 7 / 4;
  }
}

.code-button {
  background-color: $cyan;
  grid-area: 6 / 2 / 7 / 3;
  @include mq(medium) {
    grid-area: 6 / 4 / 7 / 5;
  }
}

.modal-button {
  @include flexyrow;

  p {
    text-decoration: none;
  }
}

.demo-button a,
.code-button a {
  text-decoration: none;
  font-weight: $font-weight--medium;
  text-transform: uppercase;
}

.demosvg,
.codesvg {
  height: 30px;
  width: 30px;
  padding-right: 10px;
}

#close,
#scroll-left,
#scroll-right {
  position: absolute;
}

#close {
  right: 0;
  top: -35px;

  @include mq(large) {
  }

  @include mq(xlarge) {
  }
}

#scroll-left {
  left: -30px;
  top: 50%;

  @include mq(medium) {
    left: -50px;
  }

  @include mq(xlarge) {
  }
}

#scroll-right {
  right: -30px;
  top: 50%;

  @include mq(medium) {
    right: -50px;
  }

  @include mq(xlarge) {
  }
}

#left-arrow,
#right-arrow,
#close-button {
  cursor: pointer;
  height: 30px;
  width: 30px;
}
